/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Salsa', cursive;
}
body{
    background-color: rgb(232, 232, 107);
}